<ion-searchbar color="primary" [placeholder]="'A Fazer'" [(ngModel)]="value" (keyup)="onKeyUp($event)" (ionClear)="onKeyUp($event)"> </ion-searchbar>

<ion-content>


    <List [className]="'my-list'">

        <ListItem [align]="'top'" multipleLine [arrow]="'horizontal'" (onClick)="onClick(item.id)" *ngFor="let item of itemss; let i=index">
            {{i+1}} - {{item.present}}
            <Brief>{{item.tranlate}} </Brief>
        </ListItem>
    </List>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>




</ion-content>