<ion-header [translucent]="true">


    <Navbar color="primary">
        Digital.Course-Module one
    </Navbar>


    <ng-template #icon>
        <Icon [type]="'left'"></Icon>
    </ng-template>


</ion-header>

<ion-header [translucent]="true">
    <ion-toolbar>

        <ion-segment value="all" color="tertiary" scrollable="true" mode="android" [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)">

            <ion-segment-button value="gramatica">

                <ion-label>Gramatica</ion-label>
            </ion-segment-button>

            <!--<ion-segment-button value="desafio">
                <ion-label>Desafio</ion-label>
            </ion-segment-button>
        -->


        </ion-segment>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <app-home-gramatica *ngIf="segmentModel === 'gramatica'"></app-home-gramatica>


    <ion-card *ngIf="segmentModel === 'desafio'">

        <ion-card-header>
            <ion-card-subtitle>Segment Content</ion-card-subtitle>
            <ion-card-title>Favorites</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>





</ion-content>