<WingBlank [size]="'lg'">
    <Card>
        <CardHeader [title]="title" [extra]="extra" [thumb]="thumb" [thumbStyle]="thumbStyle">
            <ng-template #extra>
                <ion-icon name="help-circle" (click)="helppresent()"></ion-icon>
            </ng-template>
            <ng-template #title>
                <small>Simple Future</small>
            </ng-template>

            <ng-template #thumb>
                <img src="assets/images/futureSimple.jpg" width="50">

            </ng-template>


        </CardHeader>
        <CardBody>
            <Card class="ion-no-padding">
                <CardHeader [extra]="extra1" [title]='title1'>
                    <ng-template #title1>
                        <Brief> <small *ngIf="translator">eng-por</small><small *ngIf="!translator">por-eng</small></Brief>
                    </ng-template>
                    <ng-template #extra1>
                        <ion-icon name="swap-horizontal-outline" (click)="invertTranslator()" *ngIf="atividadeVerb.atividadesverbais.futuro.frases.status!='Concluido'"></ion-icon>
                        <ion-icon name="language-outline" (click)="onTranslateafirmativo()" *ngIf="atividadeVerb.atividadesverbais.futuro.frases.status!='Concluido'"></ion-icon>
                    </ng-template>
                </CardHeader>
                <CardBody class="ion-no-padding">
                    <p class="ion-text-justify"><small *ngIf="!translator">{{atividadeVerb.atividadesverbais.futuro.regra}}</small>
                        <small *ngIf="translator"> {{atividadeVerb.atividadesverbais.futuro.regraingles}} </small>

                    </p>
                    <div><small> {{atividadeVerb.atividadesverbais.futuro.estrutura}}</small> </div>
                    <ion-item>
                        <ion-textarea class="ion-text-justify" [(ngModel)]="atividadeVerb.atividadesverbais.futuro.frases.fraseingles" [readonly]="atividadeVerb.atividadesverbais.futuro.frases.status=='Concluido'" *ngIf="translator" placeholder='Enter the phrase here'></ion-textarea>
                        <ion-textarea class="ion-text-justify" *ngIf="!translator" [(ngModel)]="atividadeVerb.atividadesverbais.futuro.frases.fraseportugues" [readonly]="atividadeVerb.atividadesverbais.futuro.frases.status=='Concluido'" placeholder="Digite a frase aqui"></ion-textarea>
                    </ion-item>
                </CardBody>
                <CardFooter [content]="footerExtra">
                    <ng-template #footerExtra>
                        <p style="overflow-x:auto; overflow-y:auto;"><small *ngIf="translator">{{atividadeVerb.atividadesverbais.futuro.frases.fraseportugues}} </small>
                            <small *ngIf="!translator">{{atividadeVerb.atividadesverbais.futuro.frases.fraseingles}} </small></p>
                    </ng-template>
                </CardFooter>
            </Card>



        </CardBody>
    </Card>
</WingBlank>